<h2>
  home works!
</h2>
<div class="container">
  <ul class="row">
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
      <img class="img-responsive" src="http://www.gstatic.com/webp/gallery/2.jpg">
    </li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
      <img class="img-responsive" src="http://www.gstatic.com/webp/gallery/4.jpg">
    </li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
      <img class="img-responsive" src="http://www.gstatic.com/webp/gallery/4.jpg">
    </li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
      <img class="img-responsive" src="http://www.gstatic.com/webp/gallery/5.jpg">
    </li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
      <img class="img-responsive" src="http://www.gstatic.com/webp/gallery/1.jpg">
    </li>
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
      <img class="img-responsive" src="http://www.gstatic.com/webp/gallery/2.jpg">
    </li>
  </ul>
</div>